{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://cloudhsm.amazonaws.com/"
        },
        {
            "url": "http://cloudhsm.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS CloudHSM Service</fullname> <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon CloudHSM",
        "version": "2014-05-30",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cloudhsm-2014-05-30.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "cloudhsm"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/cloudhsm/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Adds or overwrites one or more tags for the specified AWS CloudHSM resource.</p> <p>Each tag consists of a key and a value. Tag keys must be unique to each resource.</p>",
                "operationId": "AddTagsToResource",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "description": "The status of the operation.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "Status"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CloudHsmServiceException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an exception occurred in the AWS CloudHSM service.",
                                    "properties": {
                                        "message": {
                                            "description": "Additional information about the error.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        },
                                        "retryable": {
                                            "description": "Indicates if the action can be retried.",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "CloudHsmInternalException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an internal error occurred.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that one or more of the request parameters are not valid.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ResourceArn": {
                                        "description": "The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.",
                                        "pattern": "[\\w :+=./\\\\-]*",
                                        "type": "string"
                                    },
                                    "TagList": {
                                        "description": "One or more tags.",
                                        "items": {
                                            "description": "A key-value pair that identifies or specifies metadata about an AWS CloudHSM resource.",
                                            "properties": {
                                                "Key": {
                                                    "description": "The key of the tag.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The value of the tag.",
                                                    "maxLength": 256,
                                                    "minLength": 0,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "Key",
                                                "Value"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "ResourceArn",
                                    "TagList"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateHapg": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Creates a high-availability partition group. A high-availability partition group is a group of partitions that spans multiple physical HSMs.</p>",
                "operationId": "CreateHapg",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains the output of the <a>CreateHAPartitionGroup</a> action.",
                                    "properties": {
                                        "HapgArn": {
                                            "description": "The ARN of the high-availability partition group.",
                                            "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hapg-[0-9a-f]{8}",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CloudHsmServiceException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an exception occurred in the AWS CloudHSM service.",
                                    "properties": {
                                        "message": {
                                            "description": "Additional information about the error.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        },
                                        "retryable": {
                                            "description": "Indicates if the action can be retried.",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "CloudHsmInternalException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an internal error occurred.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that one or more of the request parameters are not valid.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Contains the inputs for the <a>CreateHapgRequest</a> action.",
                                "properties": {
                                    "Label": {
                                        "description": "The label of the new high-availability partition group.",
                                        "pattern": "[a-zA-Z0-9_.-]{1,64}",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "Label"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateHsm": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Creates an uninitialized HSM instance.</p> <p>There is an upfront fee charged for each HSM instance that you create with the <code>CreateHsm</code> operation. If you accidentally provision an HSM and want to request a refund, delete the instance using the <a>DeleteHsm</a> operation, go to the <a href=\"https://console.aws.amazon.com/support/home\">AWS Support Center</a>, create a new case, and select <b>Account and Billing Support</b>.</p> <important> <p>It can take up to 20 minutes to create and provision an HSM. You can monitor the status of the HSM with the <a>DescribeHsm</a> operation. The HSM is ready to be initialized when the status changes to <code>RUNNING</code>.</p> </important>",
                "operationId": "CreateHsm",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains the output of the <code>CreateHsm</code> operation.",
                                    "properties": {
                                        "HsmArn": {
                                            "description": "The ARN of the HSM.",
                                            "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hsm-[0-9a-f]{8}",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CloudHsmServiceException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an exception occurred in the AWS CloudHSM service.",
                                    "properties": {
                                        "message": {
                                            "description": "Additional information about the error.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        },
                                        "retryable": {
                                            "description": "Indicates if the action can be retried.",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "CloudHsmInternalException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an internal error occurred.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that one or more of the request parameters are not valid.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Contains the inputs for the <code>CreateHsm</code> operation.",
                                "properties": {
                                    "ClientToken": {
                                        "description": "A user-defined token to ensure idempotence. Subsequent calls to this operation with the same token will be ignored.",
                                        "pattern": "[a-zA-Z0-9]{1,64}",
                                        "type": "string"
                                    },
                                    "EniIp": {
                                        "description": "<p>The IP address to assign to the HSM's ENI.</p> <p>If an IP address is not specified, an IP address will be randomly chosen from the CIDR range of the subnet.</p>",
                                        "pattern": "\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}",
                                        "type": "string"
                                    },
                                    "ExternalId": {
                                        "description": "The external ID from <code>IamRoleArn</code>, if present.",
                                        "pattern": "[\\w :+=./-]*",
                                        "type": "string"
                                    },
                                    "IamRoleArn": {
                                        "description": "The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.",
                                        "pattern": "arn:aws(-iso)?:iam::[0-9]{12}:role/[a-zA-Z0-9_\\+=,\\.\\-@]{1,64}",
                                        "type": "string"
                                    },
                                    "SshKey": {
                                        "description": "The SSH public key to install on the HSM.",
                                        "pattern": "[a-zA-Z0-9+/= ._:\\\\@-]*",
                                        "type": "string"
                                    },
                                    "SubnetId": {
                                        "description": "The identifier of the subnet in your VPC in which to place the HSM.",
                                        "pattern": "subnet-[0-9a-f]{8}",
                                        "type": "string"
                                    },
                                    "SubscriptionType": {
                                        "description": "<p>Specifies the type of subscription for the HSM.</p> <ul> <li> <p> <b>PRODUCTION</b> - The HSM is being used in a production environment.</p> </li> <li> <p> <b>TRIAL</b> - The HSM is being used in a product trial.</p> </li> </ul>",
                                        "enum": [
                                            "PRODUCTION"
                                        ],
                                        "type": "string"
                                    },
                                    "SyslogIp": {
                                        "description": "The IP address for the syslog monitoring server. The AWS CloudHSM service only supports one syslog monitoring server.",
                                        "pattern": "\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "SubnetId",
                                    "SshKey",
                                    "IamRoleArn",
                                    "SubscriptionType"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateLunaClient": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Creates an HSM client.</p>",
                "operationId": "CreateLunaClient",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains the output of the <a>CreateLunaClient</a> action.",
                                    "properties": {
                                        "ClientArn": {
                                            "description": "The ARN of the client.",
                                            "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:client-[0-9a-f]{8}",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CloudHsmServiceException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an exception occurred in the AWS CloudHSM service.",
                                    "properties": {
                                        "message": {
                                            "description": "Additional information about the error.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        },
                                        "retryable": {
                                            "description": "Indicates if the action can be retried.",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "CloudHsmInternalException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an internal error occurred.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that one or more of the request parameters are not valid.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Contains the inputs for the <a>CreateLunaClient</a> action.",
                                "properties": {
                                    "Certificate": {
                                        "description": "The contents of a Base64-Encoded X.509 v3 certificate to be installed on the HSMs used by this client.",
                                        "maxLength": 2400,
                                        "minLength": 600,
                                        "pattern": "[\\w :+=./\\n-]*",
                                        "type": "string"
                                    },
                                    "Label": {
                                        "description": "The label for the client.",
                                        "pattern": "[a-zA-Z0-9_.-]{2,64}",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "Certificate"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteHapg": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Deletes a high-availability partition group.</p>",
                "operationId": "DeleteHapg",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains the output of the <a>DeleteHapg</a> action.",
                                    "properties": {
                                        "Status": {
                                            "description": "The status of the action.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "Status"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CloudHsmServiceException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an exception occurred in the AWS CloudHSM service.",
                                    "properties": {
                                        "message": {
                                            "description": "Additional information about the error.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        },
                                        "retryable": {
                                            "description": "Indicates if the action can be retried.",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "CloudHsmInternalException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an internal error occurred.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that one or more of the request parameters are not valid.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Contains the inputs for the <a>DeleteHapg</a> action.",
                                "properties": {
                                    "HapgArn": {
                                        "description": "The ARN of the high-availability partition group to delete.",
                                        "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hapg-[0-9a-f]{8}",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "HapgArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteHsm": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Deletes an HSM. After completion, this operation cannot be undone and your key material cannot be recovered.</p>",
                "operationId": "DeleteHsm",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains the output of the <a>DeleteHsm</a> operation.",
                                    "properties": {
                                        "Status": {
                                            "description": "The status of the operation.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "Status"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CloudHsmServiceException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an exception occurred in the AWS CloudHSM service.",
                                    "properties": {
                                        "message": {
                                            "description": "Additional information about the error.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        },
                                        "retryable": {
                                            "description": "Indicates if the action can be retried.",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "CloudHsmInternalException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an internal error occurred.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that one or more of the request parameters are not valid.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Contains the inputs for the <a>DeleteHsm</a> operation.",
                                "properties": {
                                    "HsmArn": {
                                        "description": "The ARN of the HSM to delete.",
                                        "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hsm-[0-9a-f]{8}",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "HsmArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteLunaClient": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Deletes a client.</p>",
                "operationId": "DeleteLunaClient",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "description": "The status of the action.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "Status"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CloudHsmServiceException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an exception occurred in the AWS CloudHSM service.",
                                    "properties": {
                                        "message": {
                                            "description": "Additional information about the error.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        },
                                        "retryable": {
                                            "description": "Indicates if the action can be retried.",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "CloudHsmInternalException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an internal error occurred.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that one or more of the request parameters are not valid.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ClientArn": {
                                        "description": "The ARN of the client to delete.",
                                        "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:client-[0-9a-f]{8}",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ClientArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeHapg": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Retrieves information about a high-availability partition group.</p>",
                "operationId": "DescribeHapg",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains the output of the <a>DescribeHapg</a> action.",
                                    "properties": {
                                        "HapgArn": {
                                            "description": "The ARN of the high-availability partition group.",
                                            "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hapg-[0-9a-f]{8}",
                                            "type": "string"
                                        },
                                        "HapgSerial": {
                                            "description": "The serial number of the high-availability partition group.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        },
                                        "HsmsLastActionFailed": {
                                            "description": "<p/>",
                                            "items": {
                                                "description": "An ARN that identifies an HSM.",
                                                "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hsm-[0-9a-f]{8}",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "HsmsPendingDeletion": {
                                            "description": "<p/>",
                                            "items": {
                                                "description": "An ARN that identifies an HSM.",
                                                "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hsm-[0-9a-f]{8}",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "HsmsPendingRegistration": {
                                            "description": "<p/>",
                                            "items": {
                                                "description": "An ARN that identifies an HSM.",
                                                "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hsm-[0-9a-f]{8}",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "Label": {
                                            "description": "The label for the high-availability partition group.",
                                            "pattern": "[a-zA-Z0-9_.-]{1,64}",
                                            "type": "string"
                                        },
                                        "LastModifiedTimestamp": {
                                            "description": "The date and time the high-availability partition group was last modified.",
                                            "pattern": "\\d*",
                                            "type": "string"
                                        },
                                        "PartitionSerialList": {
                                            "description": "The list of partition serial numbers that belong to the high-availability partition group.",
                                            "items": {
                                                "pattern": "\\d{6,12}",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "State": {
                                            "description": "The state of the high-availability partition group.",
                                            "enum": [
                                                "READY",
                                                "UPDATING",
                                                "DEGRADED"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CloudHsmServiceException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an exception occurred in the AWS CloudHSM service.",
                                    "properties": {
                                        "message": {
                                            "description": "Additional information about the error.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        },
                                        "retryable": {
                                            "description": "Indicates if the action can be retried.",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "CloudHsmInternalException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an internal error occurred.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that one or more of the request parameters are not valid.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Contains the inputs for the <a>DescribeHapg</a> action.",
                                "properties": {
                                    "HapgArn": {
                                        "description": "The ARN of the high-availability partition group to describe.",
                                        "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hapg-[0-9a-f]{8}",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "HapgArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeHsm": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Retrieves information about an HSM. You can identify the HSM by its ARN or its serial number.</p>",
                "operationId": "DescribeHsm",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains the output of the <a>DescribeHsm</a> operation.",
                                    "properties": {
                                        "AvailabilityZone": {
                                            "description": "The Availability Zone that the HSM is in.",
                                            "pattern": "[a-zA-Z0-9\\-]*",
                                            "type": "string"
                                        },
                                        "EniId": {
                                            "description": "The identifier of the elastic network interface (ENI) attached to the HSM.",
                                            "pattern": "eni-[0-9a-f]{8}",
                                            "type": "string"
                                        },
                                        "EniIp": {
                                            "description": "The IP address assigned to the HSM's ENI.",
                                            "pattern": "\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}",
                                            "type": "string"
                                        },
                                        "HsmArn": {
                                            "description": "The ARN of the HSM.",
                                            "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hsm-[0-9a-f]{8}",
                                            "type": "string"
                                        },
                                        "HsmType": {
                                            "description": "The HSM model type.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        },
                                        "IamRoleArn": {
                                            "description": "The ARN of the IAM role assigned to the HSM.",
                                            "pattern": "arn:aws(-iso)?:iam::[0-9]{12}:role/[a-zA-Z0-9_\\+=,\\.\\-@]{1,64}",
                                            "type": "string"
                                        },
                                        "Partitions": {
                                            "description": "The list of partitions on the HSM.",
                                            "items": {
                                                "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hsm-[0-9a-f]{8}/partition-[0-9]{6,12}",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "SerialNumber": {
                                            "description": "The serial number of the HSM.",
                                            "pattern": "\\d{1,16}",
                                            "type": "string"
                                        },
                                        "ServerCertLastUpdated": {
                                            "description": "The date and time that the server certificate was last updated.",
                                            "pattern": "\\d*",
                                            "type": "string"
                                        },
                                        "ServerCertUri": {
                                            "description": "The URI of the certificate server.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        },
                                        "SoftwareVersion": {
                                            "description": "The HSM software version.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        },
                                        "SshKeyLastUpdated": {
                                            "description": "The date and time that the SSH key was last updated.",
                                            "pattern": "\\d*",
                                            "type": "string"
                                        },
                                        "SshPublicKey": {
                                            "description": "The public SSH key.",
                                            "pattern": "[a-zA-Z0-9+/= ._:\\\\@-]*",
                                            "type": "string"
                                        },
                                        "Status": {
                                            "description": "The status of the HSM.",
                                            "enum": [
                                                "PENDING",
                                                "RUNNING",
                                                "UPDATING",
                                                "SUSPENDED",
                                                "TERMINATING",
                                                "TERMINATED",
                                                "DEGRADED"
                                            ],
                                            "type": "string"
                                        },
                                        "StatusDetails": {
                                            "description": "Contains additional information about the status of the HSM.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        },
                                        "SubnetId": {
                                            "description": "The identifier of the subnet that the HSM is in.",
                                            "pattern": "subnet-[0-9a-f]{8}",
                                            "type": "string"
                                        },
                                        "SubscriptionEndDate": {
                                            "description": "The subscription end date.",
                                            "pattern": "\\d*",
                                            "type": "string"
                                        },
                                        "SubscriptionStartDate": {
                                            "description": "The subscription start date.",
                                            "pattern": "\\d*",
                                            "type": "string"
                                        },
                                        "SubscriptionType": {
                                            "description": "<p>Specifies the type of subscription for the HSM.</p> <ul> <li> <p> <b>PRODUCTION</b> - The HSM is being used in a production environment.</p> </li> <li> <p> <b>TRIAL</b> - The HSM is being used in a product trial.</p> </li> </ul>",
                                            "enum": [
                                                "PRODUCTION"
                                            ],
                                            "type": "string"
                                        },
                                        "VendorName": {
                                            "description": "The name of the HSM vendor.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        },
                                        "VpcId": {
                                            "description": "The identifier of the VPC that the HSM is in.",
                                            "pattern": "vpc-[0-9a-f]{8}",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CloudHsmServiceException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an exception occurred in the AWS CloudHSM service.",
                                    "properties": {
                                        "message": {
                                            "description": "Additional information about the error.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        },
                                        "retryable": {
                                            "description": "Indicates if the action can be retried.",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "CloudHsmInternalException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an internal error occurred.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that one or more of the request parameters are not valid.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Contains the inputs for the <a>DescribeHsm</a> operation.",
                                "properties": {
                                    "HsmArn": {
                                        "description": "The ARN of the HSM. Either the <code>HsmArn</code> or the <code>SerialNumber</code> parameter must be specified.",
                                        "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hsm-[0-9a-f]{8}",
                                        "type": "string"
                                    },
                                    "HsmSerialNumber": {
                                        "description": "The serial number of the HSM. Either the <code>HsmArn</code> or the <code>HsmSerialNumber</code> parameter must be specified.",
                                        "pattern": "\\d{1,16}",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeLunaClient": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href=\"http://aws.amazon.com/cloudhsm/faqs-classic/\">AWS CloudHSM Classic FAQs</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/userguide/\">AWS CloudHSM Classic User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/classic/APIReference/\">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a>, the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>, and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/\">AWS CloudHSM API Reference</a>.</p> <p>Retrieves information about an HSM client.</p>",
                "operationId": "DescribeLunaClient",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Certificate": {
                                            "description": "The certificate installed on the HSMs used by this client.",
                                            "maxLength": 2400,
                                            "minLength": 600,
                                            "pattern": "[\\w :+=./\\n-]*",
                                            "type": "string"
                                        },
                                        "CertificateFingerprint": {
                                            "description": "The certificate fingerprint.",
                                            "pattern": "([0-9a-fA-F][0-9a-fA-F]:){15}[0-9a-fA-F][0-9a-fA-F]",
                                            "type": "string"
                                        },
                                        "ClientArn": {
                                            "description": "The ARN of the client.",
                                            "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:client-[0-9a-f]{8}",
                                            "type": "string"
                                        },
                                        "Label": {
                                            "description": "The label of the client.",
                                            "pattern": "[a-zA-Z0-9_.-]{1,64}",
                                            "type": "string"
                                        },
                                        "LastModifiedTimestamp": {
                                            "description": "The date and time the client was last modified.",
                                            "pattern": "\\d*",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CloudHsmServiceException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an exception occurred in the AWS CloudHSM service.",
                                    "properties": {
                                        "message": {
                                            "description": "Additional information about the error.",
                                            "pattern": "[\\w :+=./\\\\-]*",
                                            "type": "string"
                                        },
                                        "retryable": {
                                            "description": "Indicates if the action can be retried.",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "CloudHsmInternalException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that an internal error occurred.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates that one or more of the request parameters are not valid.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "CertificateFingerprint": {
                                        "description": "The certificate fingerprint.",
                                        "pattern": "([0-9a-fA-F][0-9a-fA-F]:){15}[0-9a-fA-F][0-9a-fA-F]",
                                        "type": "string"
                                    },
                                    "ClientArn": {
                                        "description": "The ARN of the client.",
                                        "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:client-[0-9a-f]{8}",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#GetConfig": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
[...]
